.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 0;
  min-height: 3rem;
  border-radius: 0 0 0.75rem 0.75rem ;
  margin-bottom: 1rem;
}
.navbar button {
  border-radius: 0.5rem;
}
.navbar button.btnIco {
  font-size: 1.5rem;
  width: 3rem;
  height: 2.9rem;
  padding: 0.5rem;
  position: relative;
}
.navbar button .badge {
  min-width: 1.3rem;
  min-height: 1.3rem;
  padding: 0.2rem;
  font-size: 0.75rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}